.Trip {
    width: 90%;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    display: flex;
}


.cardcont {

    background-color: rgba(0, 0, 0, 0.5) !important;
}

/*.test {*/
/*    margin-left: 30px;*/
/*}*/

.divche {
    display: flex;
    flex-flow: row wrap;

}

.Post {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 150px;

}

.poster-container {
    width: 100%;

}

.info {
    /*margin: 20px;*/
    text-align: center;
}

.image {
    text-align: center;
    margin-right: 20px;
}

.poster {
    width: 100%;
    border-radius: 0 0 3px 3px;
}

.row {
    display: flex;
    flex-flow: row wrap;
}


.proba {
    padding-left: 10px;
    margin-top: 10px;
    background-color: black;
}

.meta-data-container {
    padding: 15px;
    color: lightGrey;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2em;
}

/*.additional-details {*/
/*    font-family: oswald;*/
/*}*/

.genre-list {
    color: mediumseagreen;
    font-size: 1.4em;
}

.production-list {
    margin-bottom: 20px;
}

.Comment {

    height: 320px;
    width: 585px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 2px 3px #ccc;
    overflow-y: scroll;
}

.metadata {
    color: mediumseagreen;

}

.meta-data {
    color: mediumseagreen;
    font-size: 1.6em;
    line-height: 1.1em;
}

.hed {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 1.6em;
    line-height: 1.1em;
}


.tagline {
    padding-bottom: 0.25em;
    color: mediumseagreen;
    font-size: 1.3em;
    font-family: oswald;
}

.right {
    text-align: right;
}


.poster-container .poster {
    border-radius: 3px 0 0 3px;
}

.save:hover {
    background-color: lightblue;
}

.cont {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.comps {
    width: 150px;
    box-shadow: 0 2px 2px 3px #ccc;
    box-sizing: border-box;
    justify-content: center;
}



/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
