.Trips {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.header {
    text-align: center;
    margin-top: 0;
    color: mediumseagreen;
}
