.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: greenyellow;
}

.Danger {
    color: red;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}

