

html,
body {
  background-image: url("https://images2.alphacoders.com/242/242680.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Numans", sans-serif;
}
